<section class="navbar-header">
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
      80 20 running
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" routerLink="">
        Schedule
      </a>
      <a class="navbar-item" routerLink="allRuns">
        All runs
      </a>
    </div>
  </nav>
</section>

<section class="main-content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
